/* FONTS  */

/* 
roboto - 400 700
rubik - 600
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Rubik:wght@600&display=swap");

* {
  scrollbar-width: auto;
  scrollbar-color: #606060 #ffffff;
}

*::-webkit-scrollbar {
  width: 6px;
  height: 0px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #606060;
  border-radius: 20px;
  border: 3px solid #606060;
}

/* Chrome, Edge, and Safari */


/* GENERAL */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Roboto", "Arial", sans-serif;
  background-color: #fff;
}

img {
  max-width: 100%;
  height: auto;
}
